<DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Login</title>
            <link rel="stylesheet" href="/static/style.css">
        </head>
        <body>
            <header>
                <h1>Login</h1>
                <nav>
                    <a href="/">Home</a><a href="/about">About</a><a href="/contact">Contact</a><a href="/login">Login</a><a href="/register">Register</a><a href="/dashboard">Dashboard</a>
                </nav>
            </header>
            <main>
                <section>
                    <h2>Login</h2>
                    <form id="login-form" action="/login" method="POST">
                        <label for="username">Username:</label>
                        <input class="myinput"type="text" id="username" name="username" required>
                        
                        <label for="password">Password:</label>
                        <input class="myinput" type="password" id="password" name="password" required>
                        
                        <button class="mybtn" type="submit">Login</button>
                    </form>
                </section>
                <section>
                    <h2>New User?</h2>
                    <p><a href="/register">Register Here</a></p>
                </section>
            </main>
        </body>
    </html>